/*Configurations de départ*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

* 
{
  box-sizing: border-box;
}

body
{
  font-family: Roboto, Shrikhand,"Arial Black", Arial, Verdana, sans-serif;
  margin: 0 auto;
}

ul
{
  list-style-type: none;
}

a:link
{
  text-decoration: none;
}

a:visited, a
{
  color: black;
}

footer a:visited
{
  color: white;
}


/*Page - Accueil*/

/*Header*/

#accueil_header
{
  display: flex;
  justify-content: center;
  padding: 30px;
  #logo img
  {
    height: 80px;
  }
}

/*Section n°1*/

#section_one
{
  background-color: #F6F6F6;
  padding-bottom: 50px;
  margin-bottom: 25px;
  #position
  {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
    background-color: #EAEAEA;
    font-weight: 500;
    box-shadow: 1px 10px 5px -8px rgba(87, 87, 87, 0.56) inset;
    -webkit-box-shadow: 1px 10px 5px -8px rgba(87, 87, 87, 0.56) inset;
    -moz-box-shadow: 1px 10px 5px -8px rgba(87, 87, 87, 0.56) inset;
    .fa-location-dot
    {
    position: relative;
    bottom: 3px;
    align-self: center;
    }
  }
}

#reservation-text
{
  text-align: center;
  h1
  {
    font-size: 30px;
  }
  p
  {
    font-size: 20px;
    font-weight: 300;
  }
}

#explorer
{
  display: block;
  width: 220px;
  margin: auto;
  color: white;
  background: linear-gradient(#FF79DA,#9356DC);
  border-radius: 50px;
  border: none;
  box-shadow: 0px 5px 5px lightgrey;
  transition: 650ms;
  span
  {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}

/*Section n°2*/

#section_two
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 45px;
  h2
  {
    position: relative;
    right: 0px;
    font-size: 30px;
  }
  .section2_cards
  {
    width: 400px;
    height: 65px;
    padding: 5px;
    margin-bottom: 20px;
    background-color: #F6F6F6;
    border-radius: 20px;
    box-shadow: 5px 6px 5px lightgrey;
    transition: 650ms;
    .section2_cards-inter
    {
      position: relative;
      right: 55px;
      bottom: 12px;
      display: flex;
      align-items: center;
      gap: 20px;
      font-weight: 500;
      p
      {
        width: 200px;
      }
    }
      .fa-mobile-screen-button, .fa-list, .fa-store
      {
        color: grey;
        transition: 650ms;
      }
      &:hover
      {
      background-color: #F5EDFF;
      .fa-mobile-screen-button, .fa-list, .fa-store
      {
        color: #9356DC;
      }
    }
  }
}

#section_two
{
  .fa-1, .fa-2, .fa-3
  {
    color: white;
    background-color: #9356DC;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    padding-top: 8px;
    padding-left: 10px;
  }
}

/*Section n°3*/

#section_three
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 80px;
  background-color: #F6F6F6;
  padding-top: 30px;
  padding-bottom: 40px;
  h2
  {
    width: 100%;
    position: relative;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 30px;
  }
  .resto
  {
    position: relative;
    width: 750px;
    height: 420px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 10px lightgrey;
  }
}

.resto img
{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  width: 100%;
  height: 350px;
}


/*Section n°3 - Partie intérieure*/

.resto h3, .resto h4
{
  margin: 12px 12px auto;
  word-wrap: break-word;
  line-height: 13px;
  font-size: 20px;
}

.resto h3
{
  font-weight: 750;
}

.resto h4
{
  font-weight: 350;
}

/*Section n°3 - Nouveau*/

.resto p
{
  position: absolute;
  right: 15px;
  top: 10px;
  height: 32px;
  border-radius: 2px;
  padding-right: 15px;
  padding-left: 15px;
  color: #00805E;
  background-color: #99E2D0;
  font-weight: 500;
  font-size: 18px;
  box-shadow: 4px 4px 37px -14px #333333;
  -webkit-box-shadow: 4px 4px 37px -14px #333333;
  -moz-box-shadow: 4px 4px 37px -14px #333333;
  display: flex;
  align-items: center;
}

/*Footer*/

footer
{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #353535;
  color: white;
  padding-top: 30px;
}

footer img
{
  display: flex;
  padding-left: 40px;
  width: 150px;
  filter: brightness(100.0);
}

footer ul
{
  display: flex;
  flex-direction: row;
  gap: 28px;
  line-height: 30px;
}

footer li .fa-utensils, footer li .fa-handshake-angle, footer li
{
  padding-right: 10px;
}

footer a
{
  color:white
}

/*Page - La palette du goût*/

/*Header des sous-pages*/

#menu_header
{
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  justify-content: center;
  position: relative;
  #menu_retour
  {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    .fa-arrow-left
    {
      padding-left: 20px;
    }
  }
  #menu_logo 
  {
    width: 150px;
    #menu_logo img
    {
      width:160px;
    }
  }
}

/*Main*/

main
{
  background-color:#F6F6F6;
  #main_img img
  {
    width: 100%;
    height:295px;
    object-fit: cover;
  }
  #menu_section
  {
    margin: auto;
    width: 80%;
    background-color:#F6F6F6;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: relative;
    bottom : 75px;
  }
}

#menu_complets
{
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

/*Main - Intérieur*/

#menu_top
{
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  #menu_hearteffect
  {
    position: absolute;
    bottom: 23px;
    fill: url(#GradientHeart);
    opacity: 0;
    transform-origin: center 60%;
    transform: scale(0);
    transition: transform 0.2s linear, opacity 0.2s linear;
  }
}

#menu_heartALL:hover
{
  #menu_hearteffect 
  {
    opacity: 1;
    transform: scale(1);
  }
}

#menu_top h1
{
  font-family: "shrikhand";
  font-weight: 400;
  font-size: 30px;
}

.menu
{
  width: 40%;
  margin: auto;
  padding-bottom: 15px;
}

.menu h2 
{
  font-size: 18px;
  font-weight: 400;
  padding-right: 20px;
  padding-bottom: 5px;
  &:after 
  {
    content: "";
    width: 45px;
    height: 3px;
    background: #99E2D0;
    display: block;
  }
}

/*Main - Cartes*/

.menu_cards
{
  display: flex;
  max-width: 400px;
  background-color:white;
  border-radius: 20px;
  margin: 1rem 0;
  padding: 1rem;
  box-shadow: 5px 6px 20px -3px rgba(227,227,227,0.75);
  -webkit-box-shadow: 5px 6px 20px -3px rgba(227,227,227,0.75);
  -moz-box-shadow: 5px 6px 20px -3px rgba(227,227,227,0.75);
  overflow: hidden;
  .menu_cards-elements
  {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex:1;
    p, h3
    {
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .price
  {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 10px;
    transition: 0.5s ease;
    font-weight: 700;
  }
}

/*Bouton pour l'animation des cartes*/

.bouton_anim
{
  position: absolute;
  right: 0px;
  top:  0px;
  opacity: 0;
  width: 70px;
  height:80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #99E2D0;
  color:white;
  transform: translateX(100%);
  transition-duration: 650ms;
}

.fa-circle-check
{
  font-size: 25px;
}

/*Main - Bouton*/

#commander
{
  display: block;
  position: relative;
  top: 20px;
  width: 195px;
  margin: auto;
  color: white;
  background: linear-gradient(#FF79DA,#9356DC);
  border-radius: 50px;
  border: none;
  box-shadow: 0px 5px 5px lightgrey;
  transition: 650ms;
  span
  {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}

/*Animations*/

/*Ecran de chargement*/

.loader 
{
  position: fixed;
  z-index: 99;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader.hidden
{
  animation: fadeOut 1s 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut
{
  100%
  {
    opacity: 0;
    visibility: hidden;
  }
}

#loading_effect
{
  display: inline-block;
  width: 80px;
  height: 80px;
  transform: scale(2);
}

#loading_effect:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid #9356DC;
  border-color: #9356DC transparent #FF79DA transparent;
  animation: loading_effect 1.2s linear infinite;
}

@keyframes loading_effect {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*Boutons*/

/*Boutons "Explorer nos restaurants" et "Commander"*/

#commander:hover, #explorer:hover
{
  filter: brightness(110%);
  box-shadow: 0px 5px 5px #8B8B8B;
}

/*Boutons "J'aime"*/

.heart 
{
  position: absolute;
  bottom: 25px;
  right: 4%;
}

#heart-note
{
  bottom: -375px;
}

#heart-fr
{
  bottom: -615px;
}

#heart-delice
{
  bottom: -855px;
}

.hearteffect
{
  position: absolute;
  bottom: 0px;
  fill: url(#GradientHeart-0);
  opacity: 0;
  transform-origin: center 60%;
  transform: scale(0);
  transition: transform 0.2s linear, opacity 0.2s linear;
}

.heart:hover {
    
    .hearteffect
    {
      opacity: 1;
      transform: scale(1);
      
    }
}

.main-stop {
  stop-color: #FF79DA;
}
.alt-stop {
  stop-color: #9356DC;
}

/*Chargement des menus*/

@keyframes menuapparition {

  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-1
{
  opacity: 0;
  animation: menuapparition 1s ease-in-out 0.25s;
  animation-fill-mode: forwards;
}

.slide-2
{
  opacity: 0;
  animation: menuapparition 1s ease-in-out 0.5s;
  animation-fill-mode: forwards;
}

.slide-3
{
  opacity: 0;
  animation: menuapparition 1s ease-in-out 0.75s;
  animation-fill-mode: forwards;
}

.slide-4
{
  opacity: 0;
  animation: menuapparition 1s ease-in-out 1s;
  animation-fill-mode: forwards;
}

/*Sélection d'un plat*/

.menu_cards:hover
{
  .bouton_anim
  {
    opacity: 1;
    transition: 0.5s ease;
    transform: translateX(0%);
  }
  .fa-circle-check
  {
    animation: circlecheck 650ms forwards;
  }
  .price
  {
    padding-right: 75px;
  }
}

@keyframes circlecheck {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*Versions du site*/

/*Tablette*/
@media screen and (max-width: 768px)
{
  /*Page principale*/

  #section_two
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding-bottom: 45px;
    .section2_cards
    {
      width: 300px;
      .section2_cards-inter
      {
        right: 55px;
        p
        {
          width: 200px;
        }
      }
    }
  }

  #section_three
  {
    .resto
    {
      width: 300px;
      height: 220px;
    }
  }
  
  .resto img
  {
  width: 100%;
  height: 150px;
  }

  .resto h3, .resto h4
  {
    line-height: 13px;
    font-size: 15px;
  }

  .resto p
  {
    font-size: 15px;
  }

  .heart 
  {
    right: 8%;
  }

  footer
  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  footer ul
  {
    flex-direction: column;
    gap: 0px;
    line-height: 30px;
  }


    /*Sous-pages*/

  main #menu_section
  {
    width: 80%;
  }

  #menu_complets
  {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .menu
  {
    width: 90%;
  }

  #menu_top
  {
    justify-content: space-around;
    gap: 0px;
  }

  .menu_cards
  {
    max-width: 550px;
  }
}

/*Mobile*/
@media screen and (max-width: 425px)
{
  /*Page principale*/

  #accueil_header
  {
    padding: 10px;
    #logo img
    {
      height: 30px;
    }
  }

  #reservation-text
  {
    text-align: center;
    h1
    {
      font-size: 25px;
    }
    p
    {
      font-size: 18px;
    }
  }

  #section_two
  {
    h2
    {
      right: 60px;
      font-size: 1.5em;
    }
  }

  #section_three
  {
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 0px;
    column-gap: 0px;
    h2
    {
      position: relative;
      right: 85px;
      font-size: 1.5em;
    }
  }

  /*Sous-pages*/

  main #menu_section
  {
    width: 100%;
  }

  #menu_complets
  {
    padding: 10px;
  }

  .menu
  {
    width: 93%;
  }

  .menu_cards
  {
    max-width: 500px;
  }
}