@charset "UTF-8";
/*Configurations de départ*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Shrikhand,"Arial Black", Arial, Verdana, sans-serif;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

span {
  font-weight: bolder;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: black;
}

footer a:visited {
  color: white;
}

/*Page - Accueil*/
/*Header*/
#accueil_header {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#logo img {
  height: 30px;
}

/*Section n°1*/
#section_one {
  background-color: #F6F6F6;
  padding-bottom: 50px;
  margin-bottom: 25px;
}

#position {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 20px;
  background-color: #EAEAEA;
  font-weight: 500;
  box-shadow: 1px 10px 5px -8px rgba(87, 87, 87, 0.56) inset;
  -webkit-box-shadow: 1px 10px 5px -8px rgba(87, 87, 87, 0.56) inset;
  -moz-box-shadow: 1px 10px 5px -8px rgba(87, 87, 87, 0.56) inset;
}

.fa-location-dot {
  position: relative;
  bottom: 3px;
  align-self: center;
}

#reservation-text {
  text-align: center;
}

#reservation-text p {
  font-size: 18px;
  font-weight: 300;
}

#explorer {
  display: block;
  width: 220px;
  margin: auto;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 50px;
  border: none;
  box-shadow: 0px 5px 5px lightgrey;
  transition: 650ms;
}

/*Section n°2*/
#section_two {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 45px;
}

#section_two h2 {
  position: relative;
  right: 60px;
}

.section2_cards {
  width: 300px;
  height: 65px;
  padding: 5px;
  margin-bottom: 20px;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 5px 6px 5px lightgrey;
  transition: 650ms;
}

.section2_cards .section2_cards-inter {
  position: relative;
  right: 17px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 500;
}

.section2_cards .fa-mobile-screen-button, .section2_cards .fa-list, .section2_cards .fa-store {
  color: grey;
  transition: 650ms;
}

.section2_cards:hover {
  background-color: #F5EDFF;
}

.section2_cards:hover .fa-mobile-screen-button, .section2_cards:hover .fa-list, .section2_cards:hover .fa-store {
  color: #9356DC;
}

#section_two .fa-1, #section_two .fa-2, #section_two .fa-3 {
  color: white;
  background-color: #9356DC;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  padding-top: 8px;
  padding-left: 10px;
}

/*Section n°3*/
#section_three {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  padding-top: 30px;
  padding-bottom: 40px;
}

#section_three h2 {
  position: relative;
  right: 85px;
}

.resto {
  position: relative;
  width: 300px;
  height: 220px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 3px 10px lightgrey;
}

.resto img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  width: 100%;
  height: 150px;
}

/*Section n°3 - Partie intérieure*/
.resto h3, .resto h4 {
  margin: 12px 12px auto;
  word-wrap: break-word;
  line-height: 13px;
  font-size: 15px;
}

.resto h3 {
  font-weight: 750;
}

.resto h4 {
  font-weight: 350;
}

/*Section n°3 - Nouveau*/
.resto p {
  position: absolute;
  right: 15px;
  top: 10px;
  height: 32px;
  border-radius: 2px;
  padding-right: 15px;
  padding-left: 15px;
  color: #00805E;
  background-color: #99E2D0;
  font-weight: 500;
  font-size: 15px;
  box-shadow: 4px 4px 37px -14px #333333;
  -webkit-box-shadow: 4px 4px 37px -14px #333333;
  -moz-box-shadow: 4px 4px 37px -14px #333333;
  display: flex;
  align-items: center;
}

/*Footer*/
footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #353535;
  color: white;
  padding-top: 30px;
}

footer img {
  position: relative;
  left: 40px;
  width: 120px;
  filter: brightness(100);
}

footer ul {
  line-height: 30px;
}

footer a {
  color: white;
}

footer li .fa-utensils, footer li .fa-handshake-angle, footer li {
  padding-right: 10px;
}

/*Page - La palette du goût*/
/*Header des sous-pages*/
#menu_header {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  justify-content: center;
  position: relative;
}

#menu_retour {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

#menu_logo {
  width: 150px;
}

.fa-arrow-left {
  padding-left: 20px;
}

#menu_logo img {
  width: 160px;
}

/*Main*/
main {
  background-color: #F6F6F6;
}

#main_img img {
  width: 100%;
  height: 295px;
  object-fit: cover;
}

#menu_section {
  background-color: #F6F6F6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  bottom: 75px;
}

/*Main - Intérieur*/
#menu_top {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#menu_hearteffect {
  position: absolute;
  bottom: 23px;
  fill: url(#GradientHeart);
  opacity: 0;
  transform-origin: center 60%;
  transform: scale(0);
  transition: transform 0.2s linear, opacity 0.2s linear;
}

#menu_heartALL:hover #menu_hearteffect {
  opacity: 1;
  transform: scale(1);
}

#menu_top h1 {
  font-family: "shrikhand";
  font-weight: 400;
  font-size: 30px;
}

.menu {
  width: 95%;
  margin: auto;
  padding-bottom: 15px;
}

.menu h2 {
  font-size: 18px;
  font-weight: 400;
  padding-right: 20px;
  padding-bottom: 5px;
}

.menu h2:after {
  content: "";
  width: 45px;
  height: 3px;
  background: #99E2D0;
  display: block;
}

/*Main - Cartes*/
.menu_cards {
  height: 80px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 15px;
  box-shadow: 5px 6px 20px -3px rgba(227, 227, 227, 0.75);
  -webkit-box-shadow: 5px 6px 20px -3px rgba(227, 227, 227, 0.75);
  -moz-box-shadow: 5px 6px 20px -3px rgba(227, 227, 227, 0.75);
  overflow: hidden;
}

.menu_cards-elements {
  margin-top: 15px;
  margin-left: 10px;
}

.menu_cards-elements span {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  transition: 0.5s ease;
  padding-right: 45px;
  margin-top: -25px;
}

.menu_cards-elements p, .menu_cards-elements h3 {
  margin: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
  overflow: hidden;
}

/*Bouton pour l'animation des cartes*/
.bouton_anim {
  position: absolute;
  right: 0px;
  top: 0px;
  opacity: 0;
  width: 70px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #99E2D0;
  color: white;
  transform: translateX(100%);
}

.fa-circle-check {
  font-size: 25px;
}

/*

opacity: 0;

/*Main - Bouton*/
#commander {
  display: block;
  position: relative;
  top: 20px;
  width: 195px;
  margin: auto;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 50px;
  border: none;
  box-shadow: 0px 5px 5px lightgrey;
  transition: 650ms;
}

/*Animations*/
/*Ecran de chargement*/
.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader.hidden {
  animation: fadeOut 1s 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

#loading_effect {
  display: inline-block;
  width: 80px;
  height: 80px;
  transform: scale(2);
}

#loading_effect:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid #9356DC;
  border-color: #9356DC transparent #FF79DA transparent;
  animation: loading_effect 1.2s linear infinite;
}

@keyframes loading_effect {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*Boutons*/
/*Boutons "Explorer nos restaurants" et "Commander"*/
#commander:hover, #explorer:hover {
  filter: brightness(110%);
  box-shadow: 0px 5px 5px #8B8B8B;
}

/*Boutons "J'aime"*/
.heart {
  position: relative;
  top: -35px;
  padding-left: 250px;
}

#heart-note {
  bottom: -375px;
}

#heart-fr {
  bottom: -615px;
}

#heart-delice {
  bottom: -855px;
}

.hearteffect {
  position: absolute;
  bottom: 0px;
  fill: url(#GradientHeart);
  opacity: 0;
  transform-origin: center 60%;
  transform: scale(0);
  transition: transform 0.2s linear, opacity 0.2s linear;
}

.heart:hover .hearteffect {
  opacity: 1;
  transform: scale(1);
}

.main-stop {
  stop-color: #FF79DA;
}

.alt-stop {
  stop-color: #9356DC;
}

/*Chargement des menus*/
@keyframes menuapparition {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-1 {
  opacity: 0;
  animation: menuapparition 1s ease-in-out 0.25s;
  animation-fill-mode: forwards;
}

.slide-2 {
  opacity: 0;
  animation: menuapparition 1s ease-in-out 0.5s;
  animation-fill-mode: forwards;
}

.slide-3 {
  opacity: 0;
  animation: menuapparition 1s ease-in-out 0.75s;
  animation-fill-mode: forwards;
}

.slide-4 {
  opacity: 0;
  animation: menuapparition 1s ease-in-out 1s;
  animation-fill-mode: forwards;
}

/*Sélection d'un plat*/
.menu_cards:hover .bouton_anim {
  opacity: 1;
  transition: 0.5s ease;
  transform: translateX(0%);
}

.menu_cards:hover .fa-circle-check {
  animation: circlecheck 650ms forwards;
}

.menu_cards:hover span {
  padding-right: 110px;
}

@keyframes circlecheck {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
